dynawo/sources/API/CRV/xsd/curvesOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2015-2019, RTE (http://www.rte-france.com)
    See AUTHORS.txt
    All rights reserved.
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, you can obtain one at http://mozilla.org/MPL/2.0/.
    SPDX-License-Identifier: MPL-2.0

    This file is part of Dynawo, a hybrid C++/Modelica open source time domain
    simulation tool for power systems.
-->
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dyn="http://www.rte-france.com/dynawo"
           targetNamespace="http://www.rte-france.com/dynawo"
           elementFormDefault="qualified">
  <xs:element name="curvesOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="curve" type="dyn:CurveOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CurveOutput">
    <xs:sequence>
      <xs:element name="point" type="dyn:Point" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="model" use="required" type="xs:string"/>
    <xs:attribute name="variable" use="required" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="Point">
    <xs:attribute name="time" use="required" type="xs:float"/>
    <xs:attribute name="value" use="required" type="xs:float"/>
  </xs:complexType>

</xs:schema>
