dynawo/sources/API/CSTR/xsd/constraints.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2015-2019, RTE (http://www.rte-france.com)
    See AUTHORS.txt
    All rights reserved.
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, you can obtain one at http://mozilla.org/MPL/2.0/.
    SPDX-License-Identifier: MPL-2.0

    This file is part of Dynawo, an hybrid C++/Modelica open source time domain
    simulation tool for power systems.
-->
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dyn="http://www.rte-france.com/dynawo"
           targetNamespace="http://www.rte-france.com/dynawo"
           elementFormDefault="qualified">
  <xs:element name="constraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="constraint" type="dyn:Constraint" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Constraint">
    <xs:attribute name="time" use="required" type="xs:float"/>
    <xs:attribute name="modelName" use="required" type="xs:string"/>
    <xs:attribute name="description" use="required" type="xs:string"/>
    <xs:attribute name="type" use="optional" type="xs:string"/>
    <xs:attribute name="kind" use="optional" type="xs:string"/>
    <xs:attribute name="limit" use="optional" type="xs:float"/>
    <xs:attribute name="value" use="optional" type="xs:float"/>
    <xs:attribute name="valueMin" use="optional" type="xs:float"/>
    <xs:attribute name="valueMax" use="optional" type="xs:float"/>
    <xs:attribute name="side" use="optional" type="xs:string"/>
    <xs:attribute name="acceptableDuration" use="optional" type="xs:float"/>
  </xs:complexType>

</xs:schema>
